name: slatefolio

services:
  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_DATABASE: slatefolio
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    environment:
      BACKEND_PORT: ${BACKEND_PORT}
      MONGODB_URI: mongodb://mongo:27017/slatefolio
      JWT_SECRET: ${JWT_SECRET}
      WEB_NAME: ${WEB_NAME}
      WEB_ID: ${WEB_ID}
      WEB_ORIGIN: ${WEB_ORIGIN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SECURE: ${SMTP_SECURE}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      SMTP_FROM_EMAIL: ${SMTP_FROM_EMAIL}
      CONTACT_EMAIL: ${CONTACT_EMAIL}
      UPLOADS_DIR: /app/uploads
      UPLOADS_URL: ${UPLOADS_URL:-/uploads}
    volumes:
      - uploads_data:/app/uploads
    ports:
      - 5050:5050
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        ENVIRONMENT: production
        FRONTEND_PORT: ${FRONTEND_PORT}
    environment:
      NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
      NEXT_PUBLIC_SOURCE: ${NEXT_PUBLIC_SOURCE}
      NEXT_PUBLIC_SMTP_ENABLED: ${NEXT_PUBLIC_SMTP_ENABLED}
    ports:
      - 8080:8080
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
  uploads_data:
