
.content {
  position: relative;
  background-color: white;

  .field {
    margin-top: 20px;

    label {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;

      &.required::after {
        content: ' *';
        color: red;
      }
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      font-size: 22px;
      line-height: 26px;
      border: 2px solid black;
      transition: 0.6s background-color ease, 0.2s box-shadow ease, 0.2s transform ease;

      &:hover, &:global(.hovered), &:active, &:focus {
        box-shadow: 7px 7px 0 -1px rgba(0, 0, 0, 1);
        transform: translate(-3px, -3px);
      }
    }
  }

  .result {
    margin: 10px 0;

    &.success {
      animation: 10s successToBlack normal forwards;
    }

    &.error {
      animation: 10s errorToBlack normal forwards;
    }
  }

  .legend {
    .required::before {
      content: '* ';
      color: red;
    }
  }

  .buttonArea {
    text-align: right;

    .button {
      margin-right: 0;
    }
  }
}

@keyframes successToBlack {
  from {
    color: green;
  }
  to {
    color: black;
  }
}

@keyframes errorToBlack {
  from {
    color: red;
  }
  to {
    color: black;
  }
}