
.footer {
  position: relative;
  background-color: black;
  color: white;
  z-index: 1;
}

.disclaimer {
  font-family: opensans;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

.disclaimer *:link {
  color: black;
  text-decoration: underline;
}

.buttonAreaWrapper {
	display: table;
	text-align: center;
	height: 40px;
	width: 100%;
  padding: 50px 0;
  border-top: 2px solid white;
  background-color: black;
  color: white;
}

	.buttonArea {
		display: table-cell;
		bottom: 5%;
	}

		.buttonArea .button {
			display: inline-block;
			margin: 10px 20px;
      vertical-align: bottom;
		}

			@media(max-width: 1024px) {
				.buttonArea .button:not(.switch) {
					display: block;
          max-width: 200px;
					margin: 10px auto;
				}
			}

			.button.center {
				background-color: white;
				color: black;
			}