
@use "sass:math";

.svg {
  height: 50vh;
	width: auto;
  position: absolute;
  left: 50%;
  top: calc(50% - 50px);
  transform: translate(-50%, -50%);
	background-image: url('/assets/img/logo.png');
  background-size: contain;

  .use {
    fill: white;
    opacity: 1;
    transition: 1s fill ease, 1s stroke ease, 1s opacity ease;
    stroke: black;
    stroke-width: 4px;
		opacity: 0;

		&:hover, &:global(.hovered) {
			opacity: 1 !important;
			fill: white !important;
			stroke: white !important;
			z-index: 99;
			transition-delay: 0s, 0s, 0s;
			transition-duration: 0s, 0s, 0s;
		}
  }
}

@media (max-width: 480px) {
	.svg {
		height: auto;
		width: 80vw;
	}
}

@for $i from 1 to 464 {
	$delay: math.div(math.round((($i * 0.005) + math.div(math.random(), 2)) * 100), 100);
	$randomColor: rgb(math.random(255), math.random(255), math.random(255));

	.use:nth-child(#{$i}) {
		transition-delay: #{$delay}s, #{$delay}s, #{$delay}s;
		stroke: $randomColor;
		fill: $randomColor;
	}
}