
.button {
	display: inline-block;
	font-family: opensans;
	text-transform: none;
	height: 34px;
	line-height: 30px;
	padding: 0 30px;
	margin-right: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	background-color: black;
  box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0);
  border: 2px solid white;
	text-decoration: underline;
  white-space: nowrap;
	cursor: pointer;
	transition: 0.2s box-shadow ease, 0.2s transform ease;

  &:hover, &:global(.hovered) {
		box-shadow: 7px 7px 0 -1px rgba(0, 0, 0, 1);
    transform: translate(-3px, -3px);
	}

  &:active {
		background-color: #fff;
		color: black;
		transition: all 0 linear;
	}

  &.light {
    color: black;
    background-color: white;
    border: 2px solid black;

    &:hover, &:global(.hovered) {
      box-shadow: 7px 7px 0 -1px rgba(255, 255, 255, 1);
    }

    &:active {
      background-color: #000;
      color: white;
    }
	}
}