@import "tailwindcss";

@font-face {
	font-family: "opensans";
	src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "opensans-light";
	src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "opensans-bold";
	src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "myriad-boldcond";
	src: url("/assets/fonts/MyriadPro-BoldCond.otf") format("opentype");
}

@font-face {
	font-family: "myriad-cond";
	src: url("/assets/fonts/MyriadPro-Cond.otf") format("opentype");
}

html, body {
	height: 100%;
	width: 100%;
	min-width: 350px;
	font-family: opensans;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-color: black;
	letter-spacing: 0;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding-top: 62px;
}
